{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 Chrome version"
          ],
          "node": "current",
          "uglify": false,
          "modules": false
        }
      }
    ]
  ]
}