
*,
*:before,
*:after {box-sizing: border-box; padding: 0; margin: 0; list-style: none;}

html,
body {height: 100%; font: 13px Roboto; line-height: 1.5;}
#app {
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    width: 100%;
}

input,
textarea {
    display: block;
    width: 100%;
    line-height: inherit;
}
textarea {
    resize: none;
}
:focus {
    outline: none;
}